@import "~susy/sass/susy";

body {
    margin: 0;
}

main {
    @include container(80em);
    font-family: Roboto, sans-serif;

    .comic {
	@include gallery(3 of 12);

	> div {
	    margin-top: 2em;
	}
    }


    .strips {
	
	img {
	    @include span(8 of 12);
	    @include push(2 of 12)
	}
	.toolbar {
	    margin: 0 auto;
	    width: span(3 of 12);
	    margin-bottom: 1em;
	    margin-top: 2em;
	}

    }
}
